* {
	font-family: 'Oxygen', sans-serif;
}

#chatbox {
	height: 200px;
	width: 100%;
	margin: auto;
	overflow: scroll;
	overflow-x: auto;
	text-align: left;
	border: 2px solid black;
	margin-bottom: 5px;
	padding: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#usermsg, #submitmsg {
	height: 50px;
	border: 2px solid black;
}

#usermsg {
    padding-left: 10px;
    width: 82%;
    float: left;
}

#submitmsg {
    width: 17%;
    float: right;
}

#submitmsg:focus {
	outline: none;
}

#center-div {
	width: 600px;
	margin: auto;
	text-align: center;
}

.loading_dots {
    width: 45px;
    height: 20px;
    position: relative;
    left: -5px;
    top: -15.5px;
    background: url(loading_dots.gif) no-repeat center;
    background-size: 100%;
    display: inline-block;
}

.loading-span {
	position: relative;
	top: -10px;
}

#chatbox p {
    display: inline;
    position: relative;
    top: -20px;
    font-size: 15px;
    /*margin-left: -21px;*/
    /*left: 29px;*/
}

#giraffe {
	width: 20%;
}

h1 {
	margin-bottom: 0;
}

data {
	/*display: none;*/
}

/*.inline {
	display: inline;
}*/

.yellow-circle {
    background-color: #fecc01;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 4px;
    margin-bottom: 20px;
}

.blue-circle {
    background-color: #96baff;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 4px;
    margin-bottom: 20px;
}

form {
	width: 100%;
}

footer {
    text-align: center;
    padding-top: 18px;
    position: inherit;
    margin-top: 80px;
    font-size: 10px;
}

footer p {
	margin-bottom: 5px;
}

.slanted {
	font-style: italic;
}

@media (max-width: 620px) { 
	#center-div {
		width: 300px;
	}

	#chatbox {
		height: 300px;
	}

	#chatbox p {
    	margin-left: auto;
    	left: auto;
	}

    h1 {
        font-size: 28px;
    }
}